@import "./scss/app-saas.scss";
@import "./scss/icons.scss";
@import "./scss/jee-theme.scss";

html {
  background-color: #050505;
}
.flex-basis-1 {
  flex-basis: 1px;
}

@mixin nw-gradient($direction) {
  background-color: #050505;
  background-image: none;
}
.nw-bg-gradient-vertical {
  @include nw-gradient(to bottom);
}
.nw-bg-gradient-horizontal {
  @include nw-gradient(to left);
}

.visibility-hidden {
  visibility: hidden;
}

i.delete-wallet-button {
  opacity: .2;
  &:hover {
    opacity: 8;
  }
}

.confirm-delete-wallet-button {
  background-color: lighten($danger, 10%);
  &:hover {
    background-color: $danger !important;
  }
  &:active {
    background-color: $danger !important;
  }
}
